# Firebase Functions
functions/node_modules/
functions/lib/
functions/.env*
functions/secrets_*.txt

# Firebase Emulators
firebase-debug.log
.firebaserc

# OS・エディタ系
.DS_Store
*.log

# Visual Studio Code
.vscode/

# macOS
*.DS_Store

# Windows
Thumbs.db

# IDE
.idea/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
