# Firebase Functions対応 gitに含めないディレクトリ/ファイル一覧

# npm install で再生成される依存(node & firebase)
functions/node_modules/
functions/package-lock.json

# ❌ git対象にすべき！重要なコードが除外されてしまう
# functions/lib/
# ✅ Richmenu定義やメッセージ定義もGit対象（除外しない）
# IAMのロール(ポリシー)バックアップ用(個人情報もあるので絶対gitに含めちゃ駄目)
# 今は.backup配下にある
# policy-backup*.json

# ダミー。FFデプロイに必要（空ファイル）→ Storageがないと怒られるため
# このファイルを入れておくことで public/ バケット生成を防げるケースもある
# git対象
!ffdummy.txt

# GCPのサービスアカウント鍵ファイル(鍵だから絶対gitに含めちゃ駄目)
# ただしfirebase*.jsonはgit対象
deployer*.json
!firebase*.json

# Secrets 管理用ファイル（ルート直下）
# .env.set_secrets.ps1(.ps1や.bat)はgit対象
# .env*.txt は絶対gitに含めちゃ駄目
.env*.txt

# .env.devなど定義ファイルや評価用画像ファイルのバックアップを除外
.backup/

# 画像ファイル
public_input/images/
public_input/carousel/
public_input/save/

# Firebase CLI が生成する一時ファイル・キャッシュ
.firebase/

# Firebase Emulators
firebase-debug.log
.firebaserc

# OS・エディタ系
.DS_Store
*.log

# Visual Studio Code
.vscode/

# macOS
*.DS_Store

# Windows
Thumbs.db

# IDE
.idea/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


