# Firebase Functions
functions/node_modules/

# ❌ 削除すべき！重要なコードが除外されてしまう
# functions/lib/
# ✅ Richmenu定義やメッセージ定義もGit対象（除外しない）

# .env.devなど定義ファイルのみ除外(.env*は絶対gitに含めちゃ駄目)
functions/.env*
.env-backup/

# Secrets 管理用ファイル（ルート直下）
# .env.set_secrets.ffprod.ps1(.ps1や.bat)はgit対象
# .env.secrets.ffprod.txt は絶対gitに含めちゃ駄目
.env.secrets.*.txt

# Firebase Emulators
firebase-debug.log
.firebaserc

# テスト用画像・動画ファイル
public/save/


# OS・エディタ系
.DS_Store
*.log

# Visual Studio Code
.vscode/

# macOS
*.DS_Store

# Windows
Thumbs.db

# IDE
.idea/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


